@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

html,
body,
#root,
.pong,
.game {
  width: 100%;
  height: 100%;
}
.pong {
  background-image: url(https://cdn.bbopokertables.com/template/pong/images/1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.game {
  position: relative;
  background-color: #1a1a1a;
  box-sizing: border-box;
  border: 5px dotted white;
  opacity: 0;
  animation: appearance 2s linear 2s forwards;
  cursor: none;
}

@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pad--left, .pad--right {
  position: absolute;
  box-sizing: border-box;
  width: 20px;
  height: 120px;
  border: 4px solid #1a1a1a;
  border-radius: 10px;
  background-color: brown;
  box-shadow: 0 0 0 4px blue,
              0 0 8px 5px orange;
}

.pad--left {
  left: 20px;
}

.pad--right {
  right: 20px;
}

.devider {
  width: 1px;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-left: 7px dashed white;
}

.ball {
  position: absolute;
  box-sizing: border-box;

  width: 30px;
  height: 30px;

  background-color: white;
  border: 4px solid blue;
  border-radius: 50%;
}

.inscription {
  font-family: 'Orbitron', sans-serif;
  font-size: 0;
  background-color: transparent;
  color: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  animation: inscriptionAppearance 1s ease-out forwards;
}

@keyframes inscriptionAppearance {
  0% {
    font-size: 0;
    color: transparent;
  }
  50% {
    font-size: 17vw;
    color: #fff;
    text-shadow: 0px 0px 0px rgba(255,255,255,1);
  }
  51% {
    font-size: 17vw;
    color: #1a1a1a;
    text-shadow: 0px 0px 0px rgba(255,255,255,1);
  }
  100% {
    font-size: 17vw;
    color: transparent;
    text-shadow: 0px 0px 400px rgba(255,255,255,0);;
  }
}

.statusBlock {
  color: greenyellow;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.gameResetWindow {
  width: fit-content;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 1vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: default;
  z-index: 10;

  background-image: linear-gradient(#1a1a1a, rgba(255,255,255,0.2), #1a1a1a);
  border: 2px solid #fff;

  animation: reseterAppear 1s ease-in-out forwards;
}

.winner {
  width: fit-content;
  margin-bottom: 1vw;
  font-family: 'Orbitron', sans-serif;
  font-size: 7vw;
  color: #fff;
}

.restart {
  font-family: 'Orbitron', sans-serif;
  font-size: 2vw;
  color: #aaa;
  padding: 5px;
  border: 2px solid red;
  cursor: pointer;
}

.restart:hover {
  color: #fff;
}

@keyframes reseterAppear {
  0% {
    top: -50%;
  }
  85% {
    top: 60%;
  }
  100% {
    top: 50%;
  }
}

